@model BoardWebApp.Models.LoginModel
@{
    ViewData["Title"] = "Login";
}
<div class="mb-5"></div>
<br />
<br />
<br />

<div class="container custom-login">
    <div class="row justify-content-center">
        <div class="col-3">
            <form asp-controller="Account" asp-action="Login">
                <img class="mb-4" src="https://getbootstrap.com/docs/4.1/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                <h4 class="h3 mb-3 fw-normal">로그인</h4>

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-floating">
                    <input type="text" class="form-control" asp-for="UserName" placeholder="아이디입력" id="floatingInput">
                    <label for="floatingInput">사용자 아이디</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" asp-for="Password" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">패스워드</label>
                </div>

                <div class="checkbox mb-3">
                    <label asp-for="RememberMe">
                        <input asp-for="RememberMe" type="checkbox" > @Html.DisplayNameFor(m=>m.RememberMe)
                    </label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">로그인</button>
            </form>
        </div>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>