@model BoardWebApp.Models.TempProfile // profile 모델 사용하면 안됨!!!

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Profile</h4>
<hr />
<div class="row">
    <div class="col-md">
        <form asp-action="Create" asp-controller="Profile" method="post" enctype="multipart/form-data">
            <!--파일데이터 입력을 위해 multipart.form-data 필요-->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Division" class="control-label"></label>
                <input asp-for="Division" class="form-control" placeholder="Top | Card1 | Card2 | Card3 중 선택" />
                @*  <select name="Division">
                <option value="Top" selected="selected">Top</option>
                <option value="Card1">Card1</option>
                <option value="Card2">Card2</option>
                <option value="Card3" >Card3</option>
                </select>*@
                <span asp-validation-for="Division" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control editor" rows="5" placeholder="내용입력"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" placeholder="https://www.sample.com" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="ProfileImage" class="control-label"></label>
                <input asp-for="ProfileImage" class="form-control" type="file" accept=".jpg, .png, .jpeg" />
                <span asp-validation-for="ProfileImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="저장" class="btn btn-primary btn-sm" />
                <a asp-action="Index" class="btn btn-secondary btn-sm">목록</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}