@{
    ViewData["Title"] = "유카 인덱스 Page";
}

<div class="text-center">
    <h1 class="display-4">안녕 ASP.NET!!</h1>
    <p>Learn about <a href="https://WWW.GOOGLE.com"target="_blank">building Web apps with ASP.NET Core</a>.</p>
</div>
